<div class="container-content">
    <h1>BurgerLogger</h1>
    <form>
        <div class="form-group">
            <input type="text" required placeholder="Add a burger" class="form-control" name="burger_name">
        </div>
            <button type="submit" class="btn btn-primary">Add a Burger</button>
    </form>

    <div class="burger-content">
        {{!-- goes through the burgers in our database--}}
        {{#each burgers}}
            <div class="burger-list" id={{id}}>
                <div class="burgerImage"><img class="burgerImage" src="/img/bobsburger.png" alt="">
                </div>
                <p>{{burger_name}}</p>
                <button type="button" class="btn btn-primary" data-id="{{id}}" data-state="{{devoured}}">
                    {{#if devoured}} remove {{else}} Devour it {{/if}}
                </button>
            </div>
        {{/each}}
    </div>
</div>






